html,
body {
  margin: 0;
  padding: 0;
  background: #ffeddb;
}
canvas {
  font: 14px Arial;
  position: absolute;
  left: 50%;
  top: 20px;
  margin-left: -275px;
}
.mask {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
.mask .tips-w {
  width: 400px;
  position: absolute;
  left: 50%;
  margin-left: -200px;
  top: 35%;
  background: #666;
  margin-top: -100px;
  border-radius: 16px;
  color: #ffffff;
}
.mask .tips-w .title {
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-bottom: 1px solid #ccc;
}
.mask .tips-w .container {
  height: 60px;
  line-height: 60px;
  text-align: center;
}
.mask .tips-w .btn {
  width: 80px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-attachment: fixed;
  margin: 0 auto;
}
